body{
	font-family: arial;
	background-image: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ;
	background-size: cover;
	
}

.main{
	max-width: 300px;
	text-align: center;
	padding: 30px;
	margin:100px auto 100px auto;
	border: 2px solid black;
	box-shadow: 5px 10px 10px;
}

#display{
	font-size: 70px;
}

.wrapper{
	margin-top: 30px;
	margin-bottom: 20px;
}

h1{
	font-size: 30px;
}

button{
	padding: 10px;
	width: 30%;
	border-radius: 5px;
	border:0;
	color: #fff;
	font-size: 16px;
	margin-bottom: 15px;
}

button:hover{
	cursor: pointer;
}

button:focus{
	outline: none;
}

#increase{	
	background-color: #0f6b00;
}

#decrease{
	background-color: #800003;
}

#def{
	background-color: blue;
}

@media (max-width:  368px){
	button{
		width: 40%;
	}
}